<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5766a8eeeabe4770834edf8a434a88c7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5766a8eeeabe4770834edf8a434a88c7" ></div>
        
</body>
<script>    
    
            var map_5766a8eeeabe4770834edf8a434a88c7 = L.map(
                "map_5766a8eeeabe4770834edf8a434a88c7",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_20253f0777e94b06a51a9e948cfb09e5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5766a8eeeabe4770834edf8a434a88c7);
        
    
            var feature_group_ee73715b523742aaa8d5276f4db2fb8c = L.featureGroup(
                {}
            ).addTo(map_5766a8eeeabe4770834edf8a434a88c7);
        
    
            var marker_b6508c9bc7c2402c938d03fe48467a1f = L.marker(
                [42.6410472, -70.6165149],
                {}
            ).addTo(feature_group_ee73715b523742aaa8d5276f4db2fb8c);
        
    
            var icon_0b09ecac8aee4a32bae78b2a3e584742 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b6508c9bc7c2402c938d03fe48467a1f.setIcon(icon_0b09ecac8aee4a32bae78b2a3e584742);
        
    
        var popup_6af03eb8c1cf478a989729461ca3ab05 = L.popup({"maxWidth": "100%"});

        
            var html_8743b6c10dde46b2ac76078966ecc396 = $(`<div id="html_8743b6c10dde46b2ac76078966ecc396" style="width: 100.0%; height: 100.0%;">Dogecoin Developers</div>`)[0];
            popup_6af03eb8c1cf478a989729461ca3ab05.setContent(html_8743b6c10dde46b2ac76078966ecc396);
        

        marker_b6508c9bc7c2402c938d03fe48467a1f.bindPopup(popup_6af03eb8c1cf478a989729461ca3ab05)
        ;

        
    
    
            var marker_dadd8b5cb361462b868636203455918a = L.marker(
                [58.5959044, 23.21964608602439],
                {}
            ).addTo(feature_group_ee73715b523742aaa8d5276f4db2fb8c);
        
    
            var icon_f7ec445323954ec7855b75eb83827282 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_dadd8b5cb361462b868636203455918a.setIcon(icon_f7ec445323954ec7855b75eb83827282);
        
    
        var popup_a4c8ce7e118441ddb021337942c4a0c6 = L.popup({"maxWidth": "100%"});

        
            var html_ff8155774c564200a3ebea8caf1dceca = $(`<div id="html_ff8155774c564200a3ebea8caf1dceca" style="width: 100.0%; height: 100.0%;">Dogecoin</div>`)[0];
            popup_a4c8ce7e118441ddb021337942c4a0c6.setContent(html_ff8155774c564200a3ebea8caf1dceca);
        

        marker_dadd8b5cb361462b868636203455918a.bindPopup(popup_a4c8ce7e118441ddb021337942c4a0c6)
        ;

        
    
    
            var marker_5be10b59926f4affbfe73b1288333287 = L.marker(
                [37.426540700000004, -122.17029258409187],
                {}
            ).addTo(feature_group_ee73715b523742aaa8d5276f4db2fb8c);
        
    
            var icon_d09534d4bdcd4a14ac7f129a11435721 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5be10b59926f4affbfe73b1288333287.setIcon(icon_d09534d4bdcd4a14ac7f129a11435721);
        
    
        var popup_0455354be9ec44088a960278fa098e85 = L.popup({"maxWidth": "100%"});

        
            var html_894cc7e96f234aa7a9103579e70bb16a = $(`<div id="html_894cc7e96f234aa7a9103579e70bb16a" style="width: 100.0%; height: 100.0%;">Andrej Karpathy</div>`)[0];
            popup_0455354be9ec44088a960278fa098e85.setContent(html_894cc7e96f234aa7a9103579e70bb16a);
        

        marker_5be10b59926f4affbfe73b1288333287.bindPopup(popup_0455354be9ec44088a960278fa098e85)
        ;

        
    
    
            var marker_d4469ef869bb4950a26b8c6f29df627f = L.marker(
                [29.5517223, -95.0985272],
                {}
            ).addTo(feature_group_ee73715b523742aaa8d5276f4db2fb8c);
        
    
            var icon_e0e9aebc80484facb36d9d5f685cab03 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d4469ef869bb4950a26b8c6f29df627f.setIcon(icon_e0e9aebc80484facb36d9d5f685cab03);
        
    
        var popup_f24b9632ca6f449bb13ac7ea709ff71e = L.popup({"maxWidth": "100%"});

        
            var html_cc294d6b533f4031a156426356d18395 = $(`<div id="html_cc294d6b533f4031a156426356d18395" style="width: 100.0%; height: 100.0%;">NOGUCHI, Soichi 野口　聡－（のぐち　そういち）</div>`)[0];
            popup_f24b9632ca6f449bb13ac7ea709ff71e.setContent(html_cc294d6b533f4031a156426356d18395);
        

        marker_d4469ef869bb4950a26b8c6f29df627f.bindPopup(popup_f24b9632ca6f449bb13ac7ea709ff71e)
        ;

        
    
    
            var marker_4f2ebabcd5f145399bc31c53a7b11acd = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(feature_group_ee73715b523742aaa8d5276f4db2fb8c);
        
    
            var icon_2b8994e1a06a4dc0bfbedff505896b4c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4f2ebabcd5f145399bc31c53a7b11acd.setIcon(icon_2b8994e1a06a4dc0bfbedff505896b4c);
        
    
        var popup_511ea0e1070e40ccbb0a01cbd09df698 = L.popup({"maxWidth": "100%"});

        
            var html_8e7dd4d4ee654b6dbdac12fb559316b0 = $(`<div id="html_8e7dd4d4ee654b6dbdac12fb559316b0" style="width: 100.0%; height: 100.0%;">Popular Mechanics</div>`)[0];
            popup_511ea0e1070e40ccbb0a01cbd09df698.setContent(html_8e7dd4d4ee654b6dbdac12fb559316b0);
        

        marker_4f2ebabcd5f145399bc31c53a7b11acd.bindPopup(popup_511ea0e1070e40ccbb0a01cbd09df698)
        ;

        
    
    
            var marker_893cd68941ff4cf5a68cac289b2efc32 = L.marker(
                [-6.1753942, 106.827183],
                {}
            ).addTo(feature_group_ee73715b523742aaa8d5276f4db2fb8c);
        
    
            var icon_786439ab07594fc48518e1b1cadd726a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_893cd68941ff4cf5a68cac289b2efc32.setIcon(icon_786439ab07594fc48518e1b1cadd726a);
        
    
        var popup_c68022aa07ab45bb9dfea649e28f9ba6 = L.popup({"maxWidth": "100%"});

        
            var html_b90091a124014bfa80c1c8a64c15e927 = $(`<div id="html_b90091a124014bfa80c1c8a64c15e927" style="width: 100.0%; height: 100.0%;">Nigel Lockyer</div>`)[0];
            popup_c68022aa07ab45bb9dfea649e28f9ba6.setContent(html_b90091a124014bfa80c1c8a64c15e927);
        

        marker_893cd68941ff4cf5a68cac289b2efc32.bindPopup(popup_c68022aa07ab45bb9dfea649e28f9ba6)
        ;

        
    
    
            var marker_8cebdec51597479090bf23a857908378 = L.marker(
                [58.5959044, 23.21964608602439],
                {}
            ).addTo(feature_group_ee73715b523742aaa8d5276f4db2fb8c);
        
    
            var icon_443f9cf76e1b4bec9f7ff5accbc13ff0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8cebdec51597479090bf23a857908378.setIcon(icon_443f9cf76e1b4bec9f7ff5accbc13ff0);
        
    
        var popup_33a2496bfc4a4292bae104a296b0b2f8 = L.popup({"maxWidth": "100%"});

        
            var html_9a05852b1ef2488e9b6423de34d0290b = $(`<div id="html_9a05852b1ef2488e9b6423de34d0290b" style="width: 100.0%; height: 100.0%;">じゃがりきん</div>`)[0];
            popup_33a2496bfc4a4292bae104a296b0b2f8.setContent(html_9a05852b1ef2488e9b6423de34d0290b);
        

        marker_8cebdec51597479090bf23a857908378.bindPopup(popup_33a2496bfc4a4292bae104a296b0b2f8)
        ;

        
    
</script>